GitPython==3.1.43
graphviz==0.20.3
jsonpath-python==1.0.6
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
matplotlib==3.9.2
networkx==3.3
numpy==2.1.1
owlready2==0.47
pandas==2.2.2
python-dotenv==1.0.1
rdflib==7.0.0
scikit-fuzzy==0.5.0
scikit-learn==1.6.0
scipy==1.14.1
streamlit==1.38.0
sympy==1.13.3
topsispy==0.0.1